<div id="contact" class="contact-container">

    <div class="contact-container-inside">

        <div class="contact-box">
            <p>Get in touch</p>
            <h3>Contact.</h3>

            <div class="contact-via">

                <div class="left">
                    <img src="../../../assets/mail.png" alt="">
                    <img src="../../../assets/linkedin.png" alt="">
                    <img src="../../../assets/xing.png" alt="">
                    <img src="../../../assets/github.png" alt="">
                </div>

                <div class="right">
                    <a href="mailto:fabian.caspers1308@gmail.com" target="_blank">Contact me via email</a>
                    <a href="https://www.linkedin.com/in/fabian-caspers-927783261/" target="_blank">Contact me via linkedIn</a>
                    <a href="https://www.xing.com/profile/Fabian_Caspers3/cv" target="_blank">Contact me via Xing</a>
                    <a href="https://github.com/FabianCaspers" target="_blank">Show my projects on GitHub</a>
                </div>

            </div>

            <!-- <div class="contact-via">
                <img src="../../../assets/github.png" alt="">
                <a href="mailto:fabian.caspers1308@gmail.com">Contact me via email</a>
            </div>
            <div class="contact-via">
                <img src="../../../assets/github.png" alt="">
                <a href="mailto:fabian.caspers1308@gmail.com">Contact me via linkedIn</a>
            </div>
            <div class="contact-via">
                <img src="../../../assets/github.png" alt="">
                <a href="mailto:fabian.caspers1308@gmail.com">Contact me via Xing</a>
            </div>
            <div class="contact-via">
                <img src="../../../assets/github.png" alt="">
                <a href="mailto:fabian.caspers1308@gmail.com">Show my projects on GitHub</a>
            </div> -->

            <!-- <form action="">
                <label for="">
                    <span>Your Name</span>
                    <input type="text" required placeholder="What's your good name?">
                </label>
                <label for="">
                    <span>Your Email</span>
                    <input type="text" required placeholder="What's your web adress">
                </label>
                <label for="">
                    <span>Your Message</span>
                    <textarea required placeholder="What you want to say?" name="" id="" cols="30" rows="10"></textarea>
                </label>
            </form>

            <button type="submit">Send</button> -->
        </div>

    </div>

</div>
