.contact-container {
    max-width: 100vw;
    height: 100%;
    background-color: #050816;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
    z-index: 0;

    @media (max-width: "550px") {
        padding-left: 0;
        padding-right: 0;
    }

    .contact-container-inside {
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
        overflow: hidden;
        gap: 2.5rem;
        justify-content: center;

        .contact-box {
            transform: translateX(0%) translateY(0px) translateZ(0px);
            padding: 2rem;
            --tw-bg-opacity: 1;
            background-color: rgb(16 13 37);
            border-radius: 1rem;
            flex: 0.75;

            .contact-via{
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                @media (max-width: "690px") {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
        

                .left {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 1rem;
                    @media (max-width: "690px") {
                        flex-wrap: wrap;
                        gap: .5rem;
                        flex-direction: row;
                    }
                    
                }

                .right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 1.5rem;
                    @media (max-width: "850px") {
                        flex-wrap: wrap;
                        gap: .5rem;
                        margin-left: 3rem;
                    }
                }

                img {
                    width: 4rem;
                    height: 4rem;
                    @media (max-width: "690px") {
                        width: 2rem;
                        height: 2rem;
                    }
                }

                a {
                    --tw-text-opacity: 1;
                color: rgb(255 255 255 / var(--tw-text-opacity));
                font-weight: 700;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                padding-left: 2rem;
                padding-right: 2rem;
                margin-top: 1rem;
                --tw-bg-opacity: 1;
                border-radius: 0.75rem;
                width: fit-content;
                -webkit-appearance: button;
                background-color: transparent;
                background-image: none;
                cursor: pointer;
                font-family: inherit;
                font-size: 100%;
                border: 1px solid #804dee;
                background: #11998e;
                background: linear-gradient(to top, #11998e, #38ef7d);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                @media (max-width: "690px") {
                    padding-left: .5rem;
                    padding-right: .5rem;
                    font-size: 15px;
                }
                }

            }

            

            p {
                --tw-text-opacity: 1;
                color: rgb(170 166 195 / var(--tw-text-opacity));
                letter-spacing: 0.05em;
                text-transform: uppercase;
                font-size: 18px;
            }

            h3 {
                font-size: 60px;
                --tw-text-opacity: 1;
                color: rgb(255 255 255 / var(--tw-text-opacity));
                font-weight: 900;
                @media (max-width: "690px") {
                    font-size: 40px;
                }
            }

            form {
                gap: 2rem;
                flex-direction: column;
                display: flex;
                margin-top: 3rem;

                label {
                    flex-direction: column;
                    display: flex;

                    span {
                        --tw-text-opacity: 1;
                        color: rgb(255 255 255 / var(--tw-text-opacity));
                        font-weight: 500;
                        margin-bottom: 1rem;
                    }

                    input {
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                        --tw-text-opacity: 1;
                        color: rgb(255 255 255 / var(--tw-text-opacity));
                        font-weight: 500;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                        --tw-bg-opacity: 1;
                        background-color: rgb(21 16 48 / var(--tw-bg-opacity));
                        border-style: none;
                        border-radius: 0.5rem;
                    }

                    textarea {
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                        --tw-text-opacity: 1;
                        color: rgb(255 255 255 / var(--tw-text-opacity));
                        font-weight: 500;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                        --tw-bg-opacity: 1;
                        background-color: rgb(21 16 48 / var(--tw-bg-opacity));
                        border-style: none;
                        border-radius: 0.5rem;
                        resize: vertical;
                        font-family: inherit;
                        font-size: 100%;
                    }
                }
            }
            button {
                --tw-text-opacity: 1;
                color: rgb(255 255 255 / var(--tw-text-opacity));
                font-weight: 700;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                padding-left: 2rem;
                padding-right: 2rem;
                margin-top: 1rem;
                --tw-bg-opacity: 1;
                border-radius: 0.75rem;
                width: fit-content;
                -webkit-appearance: button;
                background-color: transparent;
                background-image: none;
                cursor: pointer;
                font-family: inherit;
                font-size: 100%;
                border: 1px solid #804dee;
                background: #11998e;
                background: linear-gradient(to top, #11998e, #38ef7d);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
