<div class="start-page-container">
    <header>
        <div class="header-left">
            <p>Fabian Caspers</p>
        </div>

        <div class="header-right">
            <ul>
                <li>About</li>
                <li>Work / Education</li>
                <li>Contact</li>
            </ul>
        </div>
    </header>

    <section>
        <div class="left">
            <div class="violet-pin">
                <div class="rounded-full"></div>
                <div class="violet-gradient"></div>
            </div>

            <div class="my-name">
                <h1>Hi, I'm <span>Fabian</span></h1>
                <p>I'm Frontend Developer</p>
            </div>
        </div>

        <div class="right">
            <img src="../../../assets/me2.png" alt="">
        </div>

        <div class="bottom">
            <p>Scroll Down</p>
        </div>
    </section>


</div>