.start-page-container {
    background-image: url(../../../assets/herobg.png);
    margin: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

/*---------------- Mobile menu ----------------*/

.mobileMenuButton {
    display: none;
    cursor: pointer;
    z-index: 3;
    margin: -2px 5.5rem 0 0;
    svg {
        width: 5rem;
        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
        g {
            stroke-width: 6.5px;
            stroke-linecap: round;
            path {
                stroke: #fff;
                transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
    }
    path {
        &:nth-child(1) {
            transform-origin: 36% 40%;
        }
        &:nth-child(2) {
            stroke-dasharray: 29 299;
        }
        &:nth-child(3) {
            transform-origin: 35% 63%;
        }
        &:nth-child(4) {
            stroke-dasharray: 29 299;
        }
        &:nth-child(5) {
            transform-origin: 61% 52%;
        }
        &:nth-child(6) {
            transform-origin: 62% 52%;
        }
    }
    @media (max-width: 720px) {
        display: flex;
    }
    @media (max-width: 650px) {
        margin: -2px 0.5rem 0 0;
    }
    @media (max-width: 390px) {
        margin: -2px -0.5rem 0 0;
    }
}

.active {
    svg {
        transform: rotate(90deg);
    }
    path:nth-child(1) {
        transform: translateX(9px) translateY(1px) rotate(45deg);
    }
    path:nth-child(2) {
        stroke-dasharray: 225 299;
        stroke-dashoffset: -72px;
    }
    path:nth-child(3) {
        transform: translateX(9px) translateY(1px) rotate(-45deg);
    }
    path:nth-child(4) {
        stroke-dasharray: 225 299;
        stroke-dashoffset: -72px;
    }
    path:nth-child(5) {
        transform: translateX(9px) translateY(1px) rotate(-45deg);
    }
    path:nth-child(6) {
        transform: translateX(9px) translateY(1px) rotate(45deg);
    }
}

.mobileMenu {
    display: none;
    position: absolute;
    top: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    padding: 6rem 0 0 0;
    gap: 1rem;
    a {
        color: white;
        text-decoration: none;
        margin: 0 0 0 1rem;
        font-size: 1.25rem;
        padding-top: 2rem;
        &:hover {
            cursor: pointer;
        }
    }
}

.show {
    display: flex !important;
}


/*---------------- Mobile menu end ----------------*/

    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;  
    }

    .header-left {
        p {
            color: rgb(170 166 195);
            font-weight: 700;
            font-size: 18px;
            cursor: pointer;
        }
    }

    .header-right {
        ul {
            gap: 2.5rem;
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            a {
                color: rgb(170 166 195);
                font-weight: 500;
                text-decoration: none;
                font-size: 18px;
                cursor: pointer;
                &:hover {
                    color: white;
                }
            }
        }

        @media (max-width: 720px) {
            display: none;
          }
    }

    .left {
        padding-left: 4rem;
        padding-right: 4rem;
        gap: 1.25rem;
        align-items: flex-start;
        flex-direction: row;
        max-width: 80rem;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        top: 120px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;

        @media (max-width: "1230px") {
            position: unset;
        }
    }
    .violet-pin {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1.25rem;
        align-items: center;

        .rounded-full {
            --tw-bg-opacity: 1;
            background-color: rgb(145 94 255 / var(--tw-bg-opacity));
            border-radius: 9999px;
            width: 1.25rem;
            height: 1.25rem;
        }

        .violet-gradient {
            height: 20rem;
            background: #804dee;
            background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
            background: -webkit-linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
            width: 0.25rem;
        }
    }

    .my-name {
        h1 {
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            font-weight: 900;
            margin-top: 0.5rem;
            font-size: 80px;

            @media (max-width: "720px") {
                font-size: 50px;
            }

            span {
                color: #804dee;
            }
        }

        p {
            margin-top: 0.5rem;
            font-weight: 500;
            font-size: 40px;
            --tw-text-opacity: 1;
            color: rgb(243 243 243 / var(--tw-text-opacity));
            margin: 0;

            @media (max-width: "720px") {
                font-size: 25px;
            }
        }
    }

    .right {
        display: flex;
        height: 50vh;
        position: relative;
        top: 4rem;
        right: 4rem;
        bottom: 0;
        justify-content: flex-end;

        @media (max-width: "389px") {
            height: 25vh !important;
            justify-content: center;
            right: 0;
            top: -7.5rem !important;
        }

        @media (max-width: "720px") {
            height: 30vh;
            justify-content: center;
            right: 0;
            top: .5rem;
        }


        @media (max-width: "850px") {
            height: 30vh;
            justify-content: center;
            right: 0;
            top: .5rem;
        }

        img {
            border-radius: 28%;
            border: 2px solid #804dee;
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.8);
        }
    }

    .bottom {
        color: rgb(170 166 195);
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        p {
            &:hover {
                cursor: pointer;
                color: white;
            }
        }
        
    }

    section {
        @media (max-width: "1230px") {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
