<div class="start-page-container">
    <header>
        <div class="header-left">
            <p>Fabian Caspers</p>
        </div>

        <div class="header-right">
            <ul>
                <li><a href="#overview">About</a></li>
                <li> <a href="#work">Work / Education</a></li>
                <li> <a href="#contact">Contact</a></li>
            </ul>
        </div>

        <div class="mobileMenuButton" (click)="openAndCloseMenu()"  #mobileMenuButton>
            <svg viewBox="0 0 200 200">
                <g>
                  <path d="M72 82.286h28.75"/>
                  <path d="M100.75 103.714l72.482-.143c.043 39.398-32.284 71.434-72.16 71.434-39.878 0-72.204-32.036-72.204-71.554" fill="none"/>
                  <path d="M72 125.143h28.75"/>
                  <path d="M100.75 103.714l-71.908-.143c.026-39.638 32.352-71.674 72.23-71.674 39.876 0 72.203 32.036 72.203 71.554" fill="none"/>
                  <path d="M100.75 82.286h28.75"/>
                  <path d="M100.75 125.143h28.75"/>
                </g>
            </svg>
        </div>
        <div class="mobileMenu" #mobileMenu>
            <a href="#overview" (click)="openAndCloseMenu()" class="noselect" translate>About</a>
            <a href="#work" (click)="openAndCloseMenu()" class="noselect" translate>Work / Education</a>
            <a href="#contact" (click)="openAndCloseMenu()" class="noselect">Contact</a>

        </div>
        
    </header>

    <section>
        <div>
            <div class="left">
                <div class="violet-pin">
                    <div class="rounded-full"></div>
                    <div class="violet-gradient"></div>
                </div>

                <div class="my-name">
                    <h1 data-aos="fade-down">Hi, I'm <span>Fabian</span></h1>
                    <p data-aos="fade-right">I'm Frontend Developer</p>
                </div>
            </div>

            <div class="right">
                <img src="../../../assets/ich.png" alt="">
            </div>
        </div>
        <div class="bottom">
            <p>Scroll Down</p>
        </div>

    </section>
</div>