<div id="overview" class="overview-container">

    <div class="headline">
        <p data-aos="fade-left">Introduction</p>
        <h2 data-aos="fade-right">Overview.</h2>
    </div>
    <p data-aos="zoom-in-up" class="text-seconday">I am a front-end developer with experience in HTML, CSS, JavaScript and JavaScript frameworks such as
        Angular. Currently, I am expanding my skillset by learning Backend. I pride myself on being a quick
        learner who collaborates closely with experienced developers to create efficient and user-friendly solutions.</p>

        <div class="developer-cards">
            <div data-aos="flip-right"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="3000" class="cards">
                <div class="green-pink-gradient">
                    <div class="card-object">
                        <img src="../../../assets/web.png" alt="">
                        <h3>Web Developer</h3>
                    </div>
                </div>
            </div>
            <div data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="3000" class="cards">
                <div class="green-pink-gradient">
                    <div class="card-object">
                        <img src="../../../assets/mobile.png" alt="">
                        <h3>Angular Developer</h3>
                    </div>
                </div>
            </div>
        </div>

</div>