<div id="overview" class="overview-container">

    <div class="headline">
        <p>Introduction</p>
        <h2>Overview.</h2>
    </div>
    <p class="text-seconday">I am a front-end developer with experience in HTML, CSS, JavaScript and JavaScript frameworks such as
        Angular. Currently, I am expanding my skillset by learning Backend. I pride myself on being a quick
        learner who collaborates closely with experienced developers to create efficient and user-friendly solutions.</p>

        <div class="developer-cards">
            <div class="cards">
                <div class="green-pink-gradient">
                    <div class="card-object">
                        <img src="../../../assets/web.png" alt="">
                        <h3>Web Developer</h3>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="green-pink-gradient">
                    <div class="card-object">
                        <img src="../../../assets/mobile.png" alt="">
                        <h3>Angular Developer</h3>
                    </div>
                </div>
            </div>
        </div>

</div>