@import '~aos/dist/aos.css';

* {
    margin: 0;
    scroll-behavior: smooth;
    font-family: Poppins,sans-serif;
    scrollbar-width: none;  
    -ms-overflow-style: none;  
}

::-webkit-scrollbar {
    display: none;
}


