<div id="work" class="work-container">
    <div class="headline">
        <p data-aos="fade-right">What I have done so far</p>
        <h2 data-aos="fade-left">Work Experience.</h2>
    </div>

    <div class="vertical-timeline">
        <div *ngFor="let work of workArray" 
             [class.reverse]="work.reverse" 
             [attr.data-aos]="work.reverse ? 'zoom-in-left' : 'zoom-in-right'"
             class="vertical-timeline-element">

            <span class="vertical-timeline-element-icon">
                <div class="company-container">
                    <img [src]="work.companyLogo" alt="">
                </div>
            </span>

            <div [class]="work.reverse ? 'vertical-timeline-element-content reverse' : 'vertical-timeline-element-content'">
                <div class="arrow-right"></div>
                <div>
                    <h3>{{work.position}}</h3>
                    <p>{{work.company}}</p>
                    <ul>
                        <li *ngFor="let task of work.tasks">{{task}}</li>
                    </ul>
                    <span [class]="work.reverse ? 'vertical-timeline-element-date-reverse' : 'vertical-timeline-element-date'" [innerHTML]="work.date"></span>
                </div>
            </div>
        </div>
    </div>
</div>
