<div class="work-container">
    <div class="headline">
        <p>What I have done so far</p>
        <h2>Work Experience.</h2>
    </div>

    <div class="vertical-timeline">

        <div class="vertical-timeline-element">
            <span class="vertical-timeline-element-icon">
                <div class="company-container">
                    <img src="../../../assets/company/ESA.png" alt="">
                </div>
            </span>

            <div class="vertical-timeline-element-content">
                <div class="arrow-right"></div>

                <div>
                    <h3>Teamleader Logistik</h3>
                    <p>ESA Honau</p>
                    <ul>
                        <li>SAP</li>
                        <li>Team leading</li>
                        <li>Wareneingang</li>
                    </ul>
                    <span class="vertical-timeline-element-date">April 2022 - September 2022</span>
                </div>

            </div>

        </div>

    </div>

</div>