<div class="technologies-container">

    <div class="technologies-elements">

        <div class="technologies-icons">
            <div class="icons-container">
                <img src="../../../assets/tech/html.png" alt="">
                <p class="icon-description">HTML</p>
            </div>
        </div>

        <div class="technologies-icons">
            <div class="icons-container">
                <img src="../../../assets/tech/css.png" alt="">
                <p class="icon-description">CSS</p>
            </div>
        </div>

        <div class="technologies-icons">
            <div class="icons-container">
                <img src="../../../assets/tech/javascript.png" alt="">
                <p class="icon-description">JavaScript</p>
            </div>
        </div>

        <div class="technologies-icons">
            <div class="icons-container">
                <img src="../../../assets/tech/typescript.png" alt="">
                <p class="icon-description">TypeScript</p>
            </div>
        </div>

        <div class="technologies-icons">
            <div class="icons-container">
                <img src="../../../assets/tech/nodejs.png" alt="">
                <p class="icon-description">NodeJS</p>
            </div>
        </div>

        <div class="technologies-icons">
            <div class="icons-container">
                <img src="../../../assets/tech/figma.png" alt="">
                <p class="icon-description">Figma</p>
            </div>
        </div>

        <div class="technologies-icons">
            <div class="icons-container">
                <img src="../../../assets/tech/git.png" alt="">
                <p class="icon-description">Git</p>
            </div>
        </div>

        <div class="technologies-icons">
            <div class="icons-container">
                <img src="../../../assets/tech/reactjs.png" alt="">
                <p class="icon-description">React</p>
            </div>
        </div>

    

    </div>

</div>