<div class="work-container">
    <div class="headline">
        <p data-aos="fade-right">What I have learned so far</p>
        <h2 data-aos="fade-left">Education.</h2>
    </div>

    <div class="vertical-timeline">
        <div *ngFor="let education of educationArray" 
             [class.reverse]="education.reverse" 
             data-aos="zoom-out-down" 
             class="vertical-timeline-element">
      
          <span class="vertical-timeline-element-icon">
              <div class="company-container">
                  <img [src]="education.companyLogo" alt="">
              </div>
          </span>
      
          <div [class]="education.reverse ? 'vertical-timeline-element-content reverse' : 'vertical-timeline-element-content'">
              <div class="arrow-right"></div>
              <div>
                  <h3>{{education.company}}</h3>
                  <p>{{education.position}}</p>
                  <ul>
                      <li *ngFor="let desc of education.description">{{desc}}</li>
                  </ul>
                  <span [class]="education.reverse ? 'vertical-timeline-element-date-reverse' : 'vertical-timeline-element-date'">{{education.date}}</span>
              </div>
          </div>
        </div>
      </div>
      

</div>