<div class="work-container">
    <div class="headline">
        <p>What I have learned so far</p>
        <h2>Education.</h2>
    </div>

    <div class="vertical-timeline">

        <div class="vertical-timeline-element">
            <span class="vertical-timeline-element-icon">
                <div class="company-container">
                    <img src="../../../assets/company/DA.png" alt="">
                </div>
            </span>

            <div class="vertical-timeline-element-content">
                <div class="arrow-right"></div>
                <div>
                    <h3>Developer Akademie</h3>
                    <p>Backend Developer</p>
                    <ul>
                        <li>Die Developer Academy unterrichtet eine Reihe von Programmiersprachen und Tools, darunter
                            HTML, CSS, JavaScript, Angular, Git, Scrum, Python, Django, SQL, Docker, Linux und
                            IT-Sicherheit.</li>
                    </ul>
                    <span class="vertical-timeline-element-date">Mai 2023 - Jetzt</span>
                </div>
            </div>
        </div>


        <div class="vertical-timeline-element reverse">
            <span class="vertical-timeline-element-icon">
                <div class="company-container">
                    <img src="../../../assets/company/DA.png" alt="">
                </div>
            </span>

            <div class="vertical-timeline-element-content reverse">
                <div class="arrow-right"></div>
                <div>
                    <h3>Developer Akademie</h3>
                    <p>Frontend Developer</p>
                    <ul>
                        <li>Die Developer Academy unterrichtet eine Reihe von Programmiersprachen und Tools, darunter
                            HTML, CSS, JavaScript, Angular, Git, Scrum, Python, Django, SQL, Docker, Linux und
                            IT-Sicherheit.</li>
                    </ul>
                    <span class="vertical-timeline-element-date-reverse">Oktober 2022 - März 2023</span>
                </div>
            </div>
        </div>


        <div class="vertical-timeline-element">
            <span class="vertical-timeline-element-icon">
                <div class="company-container">
                    <img src="../../../assets/company/ihk.png" alt="">
                </div>
            </span>

            <div class="vertical-timeline-element-content">
                <div class="arrow-right"></div>
                <div>
                    <h3>Fachkraft Logistik</h3>
                    <p>IHK Karlsruhe</p>
                    <ul>
                        <li>Lagerhaltung</li>
                        <li>Beschaffung</li>
                        <li>Buchführung</li>
                    </ul>
                    <span class="vertical-timeline-element-date">Mai 2018 - Mai 2019</span>
                </div>
            </div>
        </div>  
    </div>

</div>