<div class="projects-container">

    <div class="headline">
        <p>My Work</p>
        <h2>Projects.</h2>
    </div>

    <div class="description">
        <p>The highlighted projects exemplify my capabilities and expertise through tangible illustrations of my work in
            real-life situations. Each project is concisely explained and accompanied by links to both code repositories
            and live demos. These projects demonstrate my proficiency in tackling intricate issues, working with diverse
            technologies, and effectively overseeing project management.</p>
    </div>

    <div class="projects">

        <div class="projects-card-outside">
            <div class="projects-card-inside">
                <div class="project-img">
                    <img src="../../../assets/join.png" alt="">
                </div>

                <div class="project-headline">
                    <h3>Join</h3>
                    <p>Join is a Kanban software that simplifies project management, optimizes workflows, and boosts
                        productivity. With customizable boards and automated workflows, teams can track progress and
                        collaborate seamlessly.</p>
                </div>

                <div class="project-technologies">
                    <p class="blue">#HTML</p>
                    <p class="green">#CSS</p>
                    <p class="red">#JavaScript</p>
                </div>
                <div class="buttons">
                    <button class="blue">Live Test</button>
                    <button class="red">Git</button>
                </div>
            </div>
        </div>

        <div class="projects-card-outside">
            <div class="projects-card-inside">
                <div class="project-img">
                    <img src="../../../assets/pokedex.png" alt="">
                </div>

                <div class="project-headline">
                    <h3>Pokedex</h3>
                    <p>Based on the PokeAPI a simple library that provides and catalogues pokemon information.</p>
                </div>

                <div class="project-technologies">
                    <p class="blue">#HTML</p>
                    <p class="green">#CSS</p>
                    <p class="red">#JavaScript</p>
                    <p class="blue">#API</p>
                </div>
                <div class="buttons">
                    <button class="blue">Live Test</button>
                    <button class="red">Git</button>
                </div>
            </div>
        </div>

        <div class="projects-card-outside">
            <div class="projects-card-inside">
                <div class="project-img">
                    <img src="../../../assets/polloloco.png" alt="">
                </div>

                <div class="project-headline">
                    <h3>El Pollo Loco</h3>
                    <p>In El Pollo Loco, players help Pepe fight off chickens using a throwable glass bottle and the
                        ability to jump on them. It's a unique and fun game for all ages.</p>
                </div>

                <div class="project-technologies">
                    <p class="blue">#HTML</p>
                    <p class="green">#CSS</p>
                    <p class="red">#JavaScript</p>
                </div>

                <div class="buttons">
                    <button class="blue">Live Test</button>
                    <button class="red">Git</button>
                </div>
            </div>
        </div>

    </div>

</div>